li:first-child{
    background: red;
}

li:first-child{
    background: blue;
}
li:nth-child(2){
    background: orange;
}

li:nth-child(3n + 0){
    background: teal;
}

li:nth-child(odd){
    background: gray;
}

li:nth-child(even){
    background: #ddd;
}